.footer {
  min-height: 100px;
  /* background: #E5E5E5; */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #4a314d;
  text-align: center;
  color: #ace894;
  text-shadow: #a8ba9a;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #4a314d;

}
